<m-container>

    <m-main-menu 
    [menuitems]="['Log Reading', 'View Charts', 'View Logs','View Alerts']"
    (menuclick)="onMenuClick($event)">
</m-main-menu>

@if(activeSelection === 'Log Reading'){
<div>
    <h3>log a new reading</h3>

    <label>Date:</label>
    <input type="date" [(ngModel)]="dateValue">
    <br>
    <label>Soil pH (0-14):</label>
    <input type="number" [(ngModel)]="phValue">
    <br>
    <label>Soil Moisture (%):</label>
    <input type="number" [(ngModel)]="moistureValue">
    <br>
    <button class="pure-button" (click)="saveReading()">Save Reading</button>

</div>
}
@if(activeSelection === 'View Charts'){
    <div>
        <m-timeserieschart
            label = "Soil pH"
            [data]="phReadings"
            [color]="'#2e7d32'"
            [min] = "0"
            [max] = "14"
            [unit]="'pH'">
        </m-timeserieschart>
        <m-timeserieschart
            label = "Soil Moisture"
            [data]="moistureReadings"
            [color]="'#1565c0'"
            [min] = "0"
            [max] = "100"
            [unit]="'%'">
        </m-timeserieschart>

    </div>
}
@if(activeSelection === 'View Logs'){
    <p>View Logs</p>
}
@if(activeSelection === 'View Alerts'){
    <p>View Alerts</p>
}
</m-container>
