<m-container>

    <m-main-menu 
    [menuitems]="['Log Reading', 'View Charts', 'View Logs']"
    (menuclick)="onMenuClick($event)">
</m-main-menu>

@if(activeSelection === 'Log Reading'){
<div>
    <h3>log a new reading</h3>

    <div class="form-group">
        <label>Date:</label>
        <input type="date" [(ngModel)]="dateValue" name="d">
      </div>
      
      <div class="form-group">
        <label>Soil pH (0-14):</label>
        <input type="number" [(ngModel)]="phValue" name="ph">
      </div>
      
      <div class="form-group">
        <label>Soil Moisture (%):</label>
        <input type="number" [(ngModel)]="moistureValue" name="m">
      </div>
    
    @if(validationError !==''){
        <br>
        <p style="color: red;"> {{validationError}}</p>
    }
    
    <br>
    <button class="pure-button" (click)="saveReading()">Save Reading</button>

</div>
}
@if(activeSelection === 'View Charts'){
    <div>
        <m-timeserieschart
            label = "Soil pH"
            [data]="phReadings"
            [color]="'#2e7d32'"
            [min] = "0"
            [max] = "14"
            [unit]="'pH'">
        </m-timeserieschart>
        <m-timeserieschart
            label = "Soil Moisture"
            [data]="moistureReadings"
            [color]="'#1565c0'"
            [min] = "0"
            [max] = "100"
            [unit]="'%'">
        </m-timeserieschart>

    </div>
}
@if(activeSelection === 'View Logs'){
    <p>View Logs</p>

    <m-search-button (search)="filterTerm =$event"></m-search-button>
    <m-table
    [data]="phReadings"
    [filterTerm]="filterTerm"
    [showCaption]="true"
    caption="Soil pH Readings"
    >
    </m-table>

    <m-table
    [data]="moistureReadings"
    [filterTerm]="filterTerm"
    [showCaption]="true"
    caption="Soil Moisture Readings">
    </m-table>

}
@if (showAlerts) {
<div>

    @if (!isPhAlert() && !isMoistureAlert()) {
      <m-aha type="success" header="All Clear" >
        All parameters are within safe ranges.
      </m-aha>
    }

    @if (isPhAlert()) {
      <m-aha type="error" header="Soil pH Alert" >
        Latest pH of {{ getLatest(phReadings) }} is outside
        the safe range (5.5 - 7.5). Soil amendment required.
      </m-aha>
    }

    @if (isMoistureAlert()) {
      <m-aha type="warning" header="Soil Moisture Alert" >
        Latest moisture of {{ getLatest(moistureReadings) }}%
        is outside the safe range (20 - 80%).
        Check irrigation system.
      </m-aha>
    }
  </div>
}

</m-container>
