<m-container>
<m-form-ula label="Load Percentage (%)"
            [class]="getCondition(loadPercent)" 
            result="{{ loadPercent }}" 
            (calculate)="calculate()"> 

<label>Fuel Type:</label>     

<select [(ngModel)]="fuelType">
<option value="coal">Coal</option>
<option value="nuclear">Nuclear</option>
<option value="solar">Solar</option>
<option value="wind">Wind</option>
</select>



<label> Rated Capacity (MW):</label>
<input type="number" name="ratedCapacity" [(ngModel)]="ratedCapacity"/>

<label>Current Load (MW)</label>
<input type="number" name="currentLoad" [(ngModel)]="currentLoad"/>

<button type="submit" class="pure-button">
    Calculate
</button>

</m-form-ula>

<m-result-box [label]="'Rated Capacity (MW)'" [class]="getCondition(loadPercent)">
    {{ ratedCapacity }}
</m-result-box>
<m-result-box [label]="'Current Load (MW)'" [class]="getCondition(loadPercent)">
    {{ currentLoad }}
</m-result-box>
<m-result-box [label]="'Fuel Type'" [class]="getCondition(loadPercent)">
    {{ fuelType }}
</m-result-box>

@if(calculated){
    @if(loadPercent<40){
        <m-aha type="warning" header="Underloaded">
            The plant is running below optimal capacity
        </m-aha>
    } @else if (loadPercent <= 70){
        <m-aha type="success" header="Normal">
            The plant is operating optimally
        </m-aha>
    }@else {
        <m-aha type="error" header="Overloaded">
            The plant is operating above capacity
        </m-aha>
    }
}


</m-container>
